name: List S3 Parameters and Generate HTML Table

on:
  workflow_dispatch:
    inputs:
      bucketName:
        description: 'S3 Bucket Name'
        required: true

jobs:
  list-and-generate-table:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up AWS CLI
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: List Objects and Generate HTML Table
      run: |
        mkdir s3_contents
        aws s3 sync s3://${{ github.event.inputs.bucketName }} s3_contents
        python3 list.py
